<div id="catalogue">
    <div class="nvar">
        <span>Catalogue</span>
    </div>
    <div id="contentCataalogue">
        @Html.Raw(ViewBag.resultCatalogue)


    </div>
</div>
<div id="prize">
    <div class="nvar">
        <span>Giải thưởng</span>
    </div>
    <div id="contentPrize">
        @Html.Raw(ViewBag.resultPrize)
    </div>
</div>
