<div id="Menu_Product">
    <div class="Menu_mn">
        <span>Sản phẩm khác</span>
    </div>
    <div id="Content_MenuProduct">
        
            @Html.Raw(ViewBag.chuoi)

       
    </div>
</div>


