<div id="Menu_Product">
    <div class="Menu_mn">
        <span>Danh mục </span>
    </div>
    <div id="Content_MenuProduct">
        <ul class="ul_1">
          
            <li class="li_1"><a href="/2/Tin-tuc" title="Tin tức"><i></i>Tin tức</a></li>
            <li class="li_1"><a href="/Gioi-thieu" title="Giới thiệu"><i></i>Giới thiệu</a></li>
            <li class="li_1"><a href="/He-thong-phan-phoi" title="Hệ thống phân phối"><i></i>Hệ thống phân phối</a></li>
            <li class="li_1"><a href="/2/Chinh-sach-dich-vu" title="Chính sách dịch vụ"><i></i>Chính sách dịch vụ</a></li>
            <li class="li_1"><a href="/2/Tuyen-dung" title="Tuyển dụng"><i></i>Tuyển dụng</a></li>
         </ul>
    </div>
</div>
