<div id="Menu_Product">
    <div class="Menu_mn">
        <span>Danh mục sản phẩm</span>
    </div>
    <div id="Content_MenuProduct">
        <ul class="ul_1">
            @Html.Raw(ViewBag.chuoi)

        </ul>
    </div>
</div>

