<div id="productHomes">
    <div class="nvarContent">
        <span>Sản phẩm nổi bật</span>
    </div>
    <div id="listProductHomes">
        <div class="owl-carousel owl-theme">
            @Html.Raw(ViewBag.result)
             
        </div>
    </div>
</div>
