<div id="newsHomes">
    <div class="nvarContent">
        <span>Tin nổi bật</span>
    </div>
    <div id="contentNewsHomes">
        <div id="newsPriority">
            @Html.Raw(ViewBag.result)
        </div>
        <div id="listNewsHomes">
            <ul>
                @Html.Raw(ViewBag.result1)


            </ul>
        </div>
    </div>
</div>
