<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="refresh" content="3; url=http://SONHA.vn/" />

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
